.App {
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
}
input {
  padding-left: 30px;
  line-height: 30px;
  border-radius: 10px;
  color: rgb(6, 18, 41);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  margin-right: 0;
  margin-bottom: 10px;
}
.search {
  line-height: 30px;
  border-radius: 10px;
  color: rgb(6, 18, 41);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
ul {
  list-style: none;
}
.day {
  position: relative;
  left: 70px;
}
.time {
  position: relative;
  left: -90px;
}
.temp strong {
  font-weight: bold;
  font-size: 48px;
  position: relative;
  left: 70px;
}
.temp small {
  position: relative;
  font-size: 16px;
  left: 70px;
  top: -24px;
}
.img1 {
  size: 10%;
  position: relative;
  top: -5px;
}
.sub1 {
  position: relative;
  top: -25px;
  right: -8px;
}
.temp a {
  text-decoration: none;
}
